
.comicCard {
  color: var(--contrast-color, #DDD);
  font-family: sans-serif;
  display: block;
  background: linear-gradient(#222222d2, #1e1c32e8);
  padding: 20px;
  width: 450px;
  overflow: hidden;
  border-radius: 4px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 3px #111;
  position: relative;
}
.poster, .posterDiv {
  margin-right: 20px;
  width: 135px;
  float: left;
  border-radius: 2px;
}
.poster {
  height: 200px;
  border: 1px solid #ddddddd1;
  border-radius: 2px;
}
.hoverID {
  position: absolute;
  left: 20px;
  top: 200px;
  pointer-events: none;
  font-size: 0.8em;

  padding: 0.2em;
  border-radius: 0.6em;
  background-color: #302c2b;
  border: 1px solid #dddddd97;
}

/* Text card related changes */
.comicTitle {
  margin: 0px;
  height: 4.9em;
  margin-bottom: 0.5em;
  overflow: auto;
}

/* Phone portrait view */
@media only screen and (orientation: portrait) {
  .comicTitle {
    font-size: 15px;
  }
}
.comicChapter {
  color: #DDD;
  font-weight: bold;
}
.currentChapter {
  color: #ba5f38;
  font-weight: bold;
}

/* Buttons */
.trackButton {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}
.checkButton {
  background-color: #a54d28;
  bottom: 3em;
}
.delButton, .editButton {
  position: absolute;
  left: 2.1em;
  top: 2em;
  background-color: #302c2b;
  width: 2em;
}
.editButton {
  width: 3em;
  left: 115px
}