<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="dash-container">

  <div class="header">Database Metrics Dashboard</div>

  <div class="dashboard" id="metrics-container">
    {{ range $key, $value := .Metrics }}
    <div class="card" id="metric-{{ $key }}">
      <h5 class="card-title">{{ $key }}</h5>
      <p class="card-text">{{ $value }}</p>
    </div>
    {{ end }}
  </div>

  </div>
</body>
</html>
