.button-plus {
  background: var(--secondary-color);
  width: 4em;
  height: 4em;
  cursor: pointer;
  border: 0.4em solid var(--basic-button);
  border-radius: 100%;
  /* Mittig */
  position: fixed;
  bottom: 4em;
  right: 2em;
}

.button-plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: var(--basic-button);
  top: 50%;
  left: 50%;
}

.button-plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--basic-button);
  height: 50%;
  width: 4px;
}

.button-plus:hover:before,
.button-plus:hover:after {
  transform: translate(-50%, -50%) rotate(90deg);
  background: var(--secondary-color);
  transition: 0.2s;
}

.button-plus:hover {
  background-color: var(--basic-button);
  transition: 0.2s;
}

/* Phone portrait view */
@media only screen and (orientation: portrait) {
  .button-plus {
    width: 3em;
    height: 3em;
    border: 0.3em solid var(--basic-button);
    bottom: 8em;
    left: 0.5em;
  }
}