.button-merge {
  background: var(--secondary-color);
  width: 4em;
  height: 4em;
  cursor: pointer;
  border: 0.4em solid var(--basic-button);
  border-radius: 100%;
  /* positioning */
  position: fixed;
  bottom: 10em;
  right: 2em;
}

.button-merge:after {
  content: '';
  position: absolute;
  transform: translate(-25%, -75%) rotate(45deg);
  top: 35%;
  left: 35%;
  background: var(--basic-button);
  height: 4px;
  width: 25%;
  transition: 0.2s;
}

.button-merge:before {
  content: '';
  position: absolute;
  transform: translate(-25%, -25%) rotate(45deg);
  top: 27%;
  left: 55%;
  background: var(--basic-button);
  height: 25%;
  width: 4px;
  transition: 0.2s;
}

.button-merge:hover:after {
  transform: translate(-40%, -50%) rotate(45deg);
  top: 60%;
  left: 55%;
}

.button-merge:hover:before {
  transform: translate(40%, -50%) rotate(45deg);
  top: 60%;
  left: 35%;
}

.button-merge:hover:before,
.button-merge:hover:after {
  background: var(--secondary-color);
  transition: 0.2s;
}

.button-merge:hover {
  background-color: var(--basic-button);
  transition: 0.2s;
}

/* Phone portrait view */
@media only screen and (orientation: portrait) {
  .button-merge {
    width: 3em;
    height: 3em;
    border: 0.3em solid var(--basic-button);
    bottom: 14em;
    left: 0.5em;
  }
}