.span-loader {
  position: relative;
  top: -4em;
  left: -1em;
  display: block;
  width: 5em;
}

.button-scrape {
  background: var(--secondary-color);
  width: 4em;
  height: 4em;
  cursor: pointer;
  border: 0.4em solid var(--basic-button);
  border-radius: 100%;
  /* positioning */
  position: fixed;
  bottom: 16em;
  right: 2em;
}

.button-scrape:after {
  content: '';
  position: absolute;
  transform: translate(-75%, -50%) rotate(90deg);
  top: 50%;
  left: 50%;
  background: var(--basic-button);
  height: 4px;
  width: 50%;
  transition: 0.2s;
}

.button-scrape:before {
  content: '';
  position: absolute;
  transform: translate(25%, -50%) rotate(0deg);
  top: 50%;
  left: 50%;
  background: var(--basic-button);
  height: 50%;
  width: 4px;
  transition: 0.2s;
}

.button-scrape:hover:after {
  transform: translate(-50%, -150%) rotate(0deg);
}

.button-scrape:hover:before {
  transform: translate(-50%, -25%) rotate(90deg);
}

.button-scrape:hover:before,
.button-scrape:hover:after {
  background: var(--secondary-color);
  transition: 0.2s;
}

.button-scrape:hover {
  background-color: var(--basic-button);
  transition: 0.2s;
}

/* Phone portrait view */
@media only screen and (orientation: portrait) {
  .span-loader {
    top: -3.5em;
    left: -1.5em;
  }

  .button-scrape {
    width: 3em;
    height: 3em;
    border: 0.3em solid var(--basic-button);
    bottom: 12em;
    right: 0.5em;
  }
}