.form-row + .form-row {
  margin-top: 0.8rem;
}

.form-row input,
.form-row select,
.form-row button {
  margin-top: 0.2em;
  padding: 0.1em;
  padding-left: 0.5em;
  font-size: 0.9em;
  width: 100%;
  display: block;
  border: 1px solid #4e5757bf;
  border-radius: 5px;
}
.form-row label {
  text-shadow: none;
  font-size: 0.9em;
}
input[type=checkbox] + label,
label + input[type=checkbox] {
  width: 60%;
  height: 1em;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}